Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@veremchukvv 
0
0 0 Naikaric/Study_HTML-CSS_GB_1
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Security  Insights
Study_HTML-CSS_GB_1/7/css/style.css
@Naikaric Naikaric все домашки
34bb60c on Sep 2, 2018
846 lines (680 sloc)  12.6 KB
    
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
/* styles for first .container */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

button:active, button:focus {
  outline: none;
}

.container {
    margin: 0 auto;
    width: 1366px;
}

header {
    background-image: url(../img/slider-img.jpg);
    height: 800px;
    position: relative;
}

.logo {
    float: left;
    margin-left: 98px;
    margin-top: 63px;
}

nav {
    margin-right: 197.5px;
    margin-top: 67px;
    float: right;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-align: right;
    display: block;
    padding-left: 13.5px;
    padding-right: 13.5px;
}

nav ul li a:hover {
    color:  #212121;
    border-bottom: 3px solid #212121;
}

nav ul li a:active {
    color:  #ccc;
    font-size: 14px;
    line-height: 48px;
    text-align: right;
    border-bottom: 3px solid #212121;
}

nav ul li i:hover {
    color:  #8c8c8c;
}

nav ul li i:active {
    color:  #ccc;
}

.checkedMenu {
    color: black;
    font-weight: 700;
}

nav ul li:last-child {
    width: 23px;
    height: 23px;
    font-size: 23px;
    margin-top: 8px;
    margin-right: 
}

.headText {
    float: left;
    display: block;
    width: 458px;
    margin-top: 288px;
    margin-left: 98px;
    text-align: left;
}

.headText h3 {
    color:  #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 2px;
}

.headText h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: -3px;
}

.headText p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 32px;
}

.headText button {
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    border: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 45px;
}

.headText button i {
    opacity: 0;
}

.headText button:hover i {
    opacity: 100;
}

.headText button:active {
    opacity: 100;
    box-shadow: none;
    transform: scale(0.9);
}

.backs {
    display: flex;
    position: absolute;
    left: 623px;
    top: 736px;
}

.notTarget {
    margin: 5px 5px 0 5px;
    width: 30px;
    height: 30px;
    background-color: #c8c6c8;
    border-radius: 15px;
}

.notTarget:hover {
    background-color: #212121;
}

.target {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 20px;
    margin: 0 5px;
}




/* styles for second .container */
.h2block {
    border-bottom: 1px solid #6c6c6c;
    padding: 0 20px 21px 10px;
}

.h2block span {
    color: #6c6c6c;
}

.h2block:hover {
    border-bottom: 3px solid #212121;
}

.h2block:hover span{
    color: #212121;
}

.checkedTitle span {
    color: #212121;
}

.checkedTitle {
    border-bottom: 3px solid #212121;
}

h3 a i {
    opacity: 0;
}

h3 a:hover i {
    opacity: 100;
}

.wrap {
    margin: 0 auto;
}

.wrap > div {
    clear: both;
    text-align: center;
    display: flex;
}

.wrap > div .forMedia {
    clear: both;
    text-align: center;
    display: flex;
}

.wrap div div {
    position: relative;
    height: 270px;
}

.bubleTrip {
    position: absolute;
    width: 270px;
    height: 270px;
    left: 15px;
    top: -289px;
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
}

.wrap .lineOfProducts .wrap div .forMedia div:hover .bubleTrip {
    visibility: visible;
}

.bubleTrip div {
    width: 206px;
    letter-spacing: -1px;
    margin: 0 auto;
    padding-top: 62px;
}

.bubleTrip button {
    border: none;
    border-radius: 50%;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    margin-bottom: 19px;
}

.bubleTrip button:active {
    box-shadow: none;
    transform: scale(0.9);
}

.bubleTrip h1 {
    color:  #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-bottom: 21px;
}

.bubleTrip p {
    color:  #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
}



/* styles for third .container */
.exclusives {
    display: flex;
    margin-top: 105px;
}

.exclusive {
    width: 683px;
    height: 683px;
}

.exclusive .headText {
    margin-top: 228px;
    margin-left: 51px;
    width: 374px;
}

.exclusive .headText h3 {
    color: #1e88e5;
}

.exclusive .headText h1 {
    font-size: 36px;
    font-weight: 700;
}

.firstExclusive {
    background-image: url(../img/promo-img1.jpg);
}

.secondExclusive {
    background-image: url(../img/promo-img.jpg);
}




/* style for fourth .container */
.container-back {
    background-color: #fff;
}

.container .trend {
    width: 1260px;
    margin: 0 auto;
    margin-top: 119px;
    color:  #212121;
}

.container .trend h2 {
    float: left;
    font-size: 36px;
    font-weight: 700;
    margin-left: 45px;
}

.container .trend h3 {
    float: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    line-height: 54px;
    margin-bottom: 49px;
    margin-right: 45px;
}

.container .trend a {
    color: #212121;
}

.lineOfProducts {
    clear: both;
    text-align: center;
}

.lineOfProducts img {
    margin: 15px;
}

.lineOfProducts img:hover {
    transform: scale(1.1);
}




/* styles for fifth .container */
.sliderHotDeal {
    background-image: url(../img/slider.jpg);
    height: 800px;
    position: relative;
    clear: both;
    margin-top: 105px;
}

.sliderHotDeal .headText h3 {
    color: #e53935;
}




/* styles for sixth .container */
.exl {
    clear: both;
    display: flex;
    width: 1260px;
    margin: 0 auto;
    margin-top: 119px;
    color:  #212121;
    margin-bottom: 105px;
}

.exlLeft {
    background-image: url(../img/product-1-lg.jpg);
    width: 570px;
    height: 570px;
    margin-right: 15px;
    margin-top: 15px;
}

.txtForExl {
    margin-top: 186px;
    margin-left: 31px;
    width: 332px;
    text-align: left;
    float: left;
    display: block;
    text-align: left;
    
}

.txtForExl h2 {
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    letter-spacing: 2px;
}

.txtForExl h1 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
}

.txtForExl p {
    color:  #6c6c6c;
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: -0.5px;
    margin-bottom: 32px;
}

.txtForExl button {
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    border-radius: 22px;
    border: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 45px;
}

.txtForExl button i {
    opacity: 0;
}

.txtForExl button:hover i {
    opacity: 100;
}

.txtForExl button:active {
    box-shadow: none;
    transform: scale(0.9);
}

.exlRight img {
    margin: 15px;
}

.exlRight img:hover {
    transform: scale(1.1);
}




/* styles fot seventh .container */
.mobile {
    background-image: url(../img/back-img.jpg);
    height: 516px;
    clear: both;
}

.mobile .headText {
    width: 413px;
    margin-top: 125px;
}

.mobile .headText p {
    font-size: 22px;
}

.mobile .headText h3 {
    color: #6c6c6c;
}

.mobile .headText h1 {
    color: #6c6c6c;
    letter-spacing: -5px;
}

.mobile .headText img {
    margin-right: 10px;
    transition: 1s;
}

.mobile .headText img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.mobile .headText img:active {
  transform: scale(0.9);
}




/* styles for eighth .container */
.map {
    padding-top: 120px;
    background-color: #f7f7f7;
    display: flex;
    clear: both;
    
}

.map .botForMed {
    display: flex;
}

.map h2 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.map a {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.map p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.contactUs {
    width: 225px;
    margin-right: 80px;
    margin-left: 99px;
}

.useLinks {
    display: flex;
}

.leftInfo {
    margin-right: 103px;
}

.touch {
    width: 372px;
    margin-left: 78px;
}

.touch div {
    display: flex;
}

.touch input[type="email"] {
    width: 368px;
    height: 46px;
    border: 1px solid #d9dee1;
    background-color:  #ffffff;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-left: 19px;
    margin-top: 26px;
    border-right: none;
}

.touch button {
    width: 48px;
    height: 48px;
    margin-top: 26px;
    background-color: #fff;
    border: 1px solid #d9dee1;
    border-left: none;
}




/* styles for ninth .container */
footer {
    display: flex;
    background-color: #f7f7f7;
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 30px;
    padding-top: 67px;
}

footer .copy {
    text-align: left;
    margin-left: 98px;
    margin-right: 158px;
}

footer .social a {
    font-family: icomoon;
    color:  #6c6c6c;
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6px;
}

footer .social > div {
    display: inline-block;
}

footer .privacy a {
    color: #6c6c6c;
    text-align: right;
    margin-left: 172px;
}

@media screen and (max-width: 1382px) {
    .container {
        width: 100%;
    }
    
    header {
        background-position: center center;
    }
    
    nav {
        margin-right: 10%;
    }

    .backs {
        left: 45.5%;
    }
    
    .firstExclusive {
        background-position: center center;
    }
    
    .secondExclusive {
        background-position: center center;
    }
    
    .sliderHotDeal {
        background-position: center center;
    }
    
    .mobile {
        background-position: center center;
    }
}

@media screen and (max-width: 1277px) {
    .container .container-back {
        width: 100%;
    }
    
    .container .trend {
        width: 100%;
    }
    
    .wrap > div {
        flex-direction: column;
    }
    
    .forMedia {
        margin-bottom: 300px;
    }
    
    .forMedia > div {
        margin: 0 50px;
    }
    
    .exclusives {
        margin-top: 405px;
    }
    
    .container .exl {
        width: 100%;
    }
    
    .map {
        flex-direction: column;
    }
    
    .map .contactUs {
        margin: 0 auto;
    }
    
    .map .usefulInfo {
        margin: 0 auto;
    }
    
    .map .touch {
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1249px) {
    footer {
        margin: 0 auto;
    }
    
    footer .copy {
        margin-left: 98px;
        margin-right: 3%;
    }

    footer .social {
        margin-right: -3%;
    }

    footer .privacy {
        margin-left: -6%;
    }
}

@media screen and (max-width: 1206px) {
    .exl .exlLeft {
        background-position: center center;
        float: left;
        margin: 0 auto;
    }
    
    .exlRight div:first-child {
        margin: -15px auto;
        margin-left: 15%;
    }
    
    .exlRight div:last-child {
        margin: 0 auto;
        margin-left: -50%;
    }
    
    footer .social > div {
        display: block;
    }
}

@media screen and (max-width: 973px) {
    .logo {
        margin-left: 40%;
    }
    
    nav {
        float: left;
        margin-left: 10%;
    }
    
    .headText {
        margin-top: 230px;
    }
    
    .forMedia > div {
        margin: 0 5px;
    }

    .exclusive .headText {
        margin-left: 0px;
        width: 100%;
    }
    
    footer {
        flex-direction: column;
        text-align: center;
    }
    
    footer .social > div {
        display: inline-block;
    }
    
    .exl {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .exl .exlLeft {
        background-position: center center;
        float: left;
        margin: 0 auto;
    }
    
    .exl .exlRight {
        margin: 0 auto;
    }
    
    .exlRight div:first-child {
        margin: 0 auto;
    }
    
    .exlRight div:last-child {
        margin: 0 auto;
    }
    
    footer .social {
        width: 100%;
    }
    
    nav li a {
        border-bottom: 3px solid #f0f0f0;
    }
}