@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
/* styles for first .container */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

button:active, button:focus {
  outline: none;
}

.container {
    margin: 0 auto;
    width: 1366px;
}

ul {
    list-style-type: none;
}





/* styles for header */
.header {
    background-color: #f5f5f5;
}

.logo {
    float: left;
    margin-left: 98px;
    margin-right: 357px;
    margin-top: 63px;
}

.menu {
    display: flex;
    padding-top: 63px;
}

.menu li .checkedMenu {
    color: black;
    font-weight: 700;
}

.menu li{
    border-bottom: 3px solid #f5f5f5;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    padding-left: 13.5px;
    padding-right: 13.5px;
}

.menu li a {
    color:  #8c8c8c;
    display: block;
}

.menu .searcher {
    color: #000;
}

.menu li:hover {
    border-bottom: 3px solid black;
}

.menu li:hover a {
    color:  #212121;
}

.menu li:active a {
    color: #ccc;
}

.header h1 {
    padding-bottom: 56px;
    margin-left: 98px;
    margin-top: 171px;
}





/* style for contact_us */
.bgc {
    background-color: #fff;
}

.cards {
    display: flex;
    margin-bottom: 122px;
    margin-left: 83px;
    margin-top: 71px;
}

.card {
    border: 1px solid #9c9c9c;
    color:  #212121;
    height: 370px;
    margin: 0 15px 0 15px;
    opacity: 0.7;
    text-align: center;
    width: 370px;
}

.card:hover {
    opacity: 1;
}

.card .txt {
    margin: 0 auto;
    width: 271px;
}

.card img {
    margin-bottom: 34px;
    margin-top: 48px;
}

.card h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

.card h6 {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    margin-top: 20px;
}

.card h5 {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
}

.card h4 {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 20.082px;
}




/* styles for eighth .container */
.map {
    padding-top: 120px;
    background-color: #f7f7f7;
    display: flex;
    clear: both;
    
}

.map h2 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.map a {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.map p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.contactUs {
    width: 225px;
    margin-right: 80px;
    margin-left: 99px;
}

.useLinks {
    display: flex;
}

.leftInfo {
    margin-right: 103px;
}

.touch {
    width: 372px;
    margin-left: 78px;
    flex-direction: column;
}

.touch div {
    display: flex;
}

.touch input[type="email"] {
    width: 368px;
    height: 46px;
    border: 1px solid #d9dee1;
    background-color:  #ffffff;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-left: 19px;
    margin-top: 26px;
    border-right: none;
}

.touch button {
    width: 48px;
    height: 48px;
    margin-top: 26px;
    background-color: #fff;
    border: 1px solid #d9dee1;
    border-left: none;
}

.map > div {
    display: flex;
}




/* styles for ninth .container */
footer {
    display: flex;
    background-color: #f7f7f7;
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 30px;
    padding-top: 67px;
}

footer .copy {
    text-align: left;
    margin-left: 98px;
    margin-right: 158px;
}

footer .social a {
    font-family: icomoon;
    color:  #6c6c6c;
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6px;
}

footer .privacy a {
    color: #6c6c6c;
    text-align: right;
    margin-left: 172px;
}

@media screen and (max-width: 1382px) {
    .container {
        width: 100%;
    }
    
    .menu {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1183px) {
    .logo {
        margin-right: 15%;
    }
}

@media screen and (max-width: 1151px) {
    .map {
        flex-direction: column;
    }
    
    .map .contactUs {
        margin: 0 auto;
        margin-right: 20%;
    }
    
    .map .usefulInfo {
        margin: 0 auto;
    }
    
    .map > div {
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 958px) {
    .logo {
        margin-right: 5%;
    }
}

@media screen and (max-width: 862px) {
    .logo {
        float: none;
        margin-left: 40%;
    }
    
    .menu {
        margin-left: 15%;
    }
}